.nav-bar {
    width: 97.5vw;
    height: 8vh;
    position: absolute;
    margin-top: -8px;
    margin-left: -6px;
    padding: 1rem;
    background-color: #9ed6e7;
}

.links {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2vw;
    margin-left: 5vw;
}

a {
    text-decoration: none;
    color: #191970;
    font-weight: bold;
    font-size: 1.2em;
}

a:hover {
    color: #f57c00;
    cursor: pointer;
}

#logo {
    margin-right: 2vw;
}

.logo {
    width: 70px;
    height: 50px;
    justify-items: start;
}

.publique {
    margin-left: 10vw;
    margin-right: 13vw;
    padding: 7px;
    background-color: #f57c00;
    color: #ffffff;
    border-radius: 5px;
}

.publique:hover {
    background-color: #ffffff;
    color: #f57c00;
}

.search {
    width: 99.85vw;
    height: 10vh;
    margin-left: -1.2vw;
    background-color: #f57c00;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search {
    width: 75vw;
    height: 4vh;
    border-radius: 7px 0px 0px 7px;
    box-shadow: 0 0 0 0;
    border: solid 2px #ffffff;
}

.btn-search {
    /* width: 9vw; */
    height: 5vh;
    padding: 0 2vw 0 2vw;
    border-radius: 0px 7px 7px 0px;
    box-shadow: 0 0 0 0;
    border: solid 1px #ffffff;
    background-color: #f57c00;
    color: #ffffff;
}

.btn-search:hover {
    cursor: pointer;
}

.slide {
    margin-top: 1vh;
}

.slide>img {
    width: 1250px;
    height: 300px;
    margin: 0 3vw 0 3vw;
}

.destaques {
    /* display: flex; */
    margin-top: 71vh;
    margin-left: -0.5vw;
    width: 99.9vw;
    position: absolute;
}

.destaques>h1,
.destaques>h3 {
    margin-left: 40vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6c757d;
}

#h3 {
    font-size: 1.35em;
}

.cards {
    display: flex;
}

.card {
    width: 200px;
    height: 250px;
    margin: 10px 60px 10px 0px;
    background-color: #191970;
}

.card:nth-child(1) {
    margin-left: 4vw;
    background-color: red;
}

.card:nth-child(5) {
    background-color: red;
    margin-right: 0;
}

.footer {
    margin-top: 200vh;
    margin-left: -0.5vw;
    width: 100vw;
    height: 55vh;
    position: absolute;
    background-color: #f57c00;
}

.social {
    display: flex;
}

.social>h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    margin-left: 5vw;
}

.facebook {
    margin-left: 70vw;
}

.facebook,
.instagran {
    width: 25px;
    height: 25px;
    margin-top: 2vh;
    margin-right: 1vw;
}

.space {
    height: 0.2vh;
    width: 100vw;
    margin-top: -2vh;
    background-color: #ffffff;
}

.final {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 30px;
}

.nome-footer {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: -35px;
}

.nome-footer {
    margin-left: 8vw;
    margin-top: 2vw;
}

.frase-footer {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 8vw;
    margin-top: -55px;
    color: #ffffff;
    font-size: 1.5em;
}

.div-portal {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 7vw;
    color: #ffffff;   
}

.div-portal>p:nth-child(1){
    font-weight: bold;
    margin-top: 45px;
}

.div-portal>p:nth-child(2){
    margin-top: 55px;
}


.div-servicos {
    grid-area: 1 / 3 / 2 / 4;
    margin-left: 7vw;
    width: 180px;
    color: #ffffff;
}

.div-servicos>p:nth-child(1){
    font-weight: bold;
    margin-top: 45px;
}

.div-servicos>p:nth-child(2){
    margin-top: 55px;
}


.div-contatos {
    grid-area: 1 / 4 / 2 / 5;
    margin-left: 7vw;
    width: 180px;
    color: #ffffff;
}

.div-contatos>p:nth-child(1){
    font-weight: bold;
    margin-top: 45px;
}

.div-contatos>p:nth-child(2){
    margin-top: 55px;
}

.cop{
    background-color: #e97600;
    /* background-color: #6c757d; */
    height: 8vh;
    display: flex;
}
.cop>p{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
}




