/* 320px — 480px: dispositivos móveis
481px — 768px: iPads, tablets
769px — 1024px: telas pequenas, laptops
1025px — 1200px: desktops, telas grandes
1201px e acima —  telas muito grandes, TVs */

*body {
    max-width: 100%;
}

.nav-bar {
    max-width: 100%;
    margin: 0px 0px 0px 0px;
    background-color: #9ed6e7;
}

.links {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #191970;
    font-weight: bold;
    font-size: 1.2em;
}

a:hover {
    color: #f57b00;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        height: 21%;
    }

    .logo {
        width: 87px;
        height: 40px;
        margin: 0 1px 0 1px;
        grid-area: logo;
    }

    .home {
        grid-area: home;
    }

    .lojas {
        padding-bottom: 10%;
        grid-area: lojas;
    }

    .produtos {
        padding-bottom: 10%;
        grid-area: produtos;
    }

    .anuncios {
        padding-bottom: 10%;
        grid-area: anuncios;
    }

    .publique {
        background-color: #f57c00;
        color: #ffffff;
        border-radius: 5px;
        height: 40px;
        width: 180px;
        padding: 0 10px 0 20px;
        text-align: center;
        grid-area: publique;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login {
        grid-area: login;
    }


    .links {
        display: grid;
        grid-template-rows: 75px 30px;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:
            'logo publique publique'
            'lojas produtos anuncios';
        justify-items: center;
        align-items: center;
    }

    .search {
        height: 6vh;
        background-color: #f57c00;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #search {
        width: 70%;
        height: 4vh;
        border-radius: 4px 0px 0px 4px;
        box-shadow: 0 0 0 0;
        border: solid 2px #ffffff;
    }

    .btn-search {
        /* padding: 0 2vw 0 2vw; */
        height: 5vh;
        border-radius: 0px 4px 4px 0px;
        box-shadow: 0 0 0 0;
        border: solid 1px #ffffff;
        background-color: #f57c00;
        color: #ffffff;
    }

    .btn-search:hover {
        cursor: pointer;
    }

    #slide{
        margin-top: 1%;
        max-width: 100%;
    }
}