body,html{
  max-width: 100%;
  height: 100%;
  /* background-color: aqua; */
}

.nav{
  margin: 0 0 0 0;
  max-width: 101%;
  background-color: #9ed6e7;
  max-height: 15vh;
  padding: 1% 0% 1% 10%;
  margin:-1% -1% 0 -1% ;
}

.nome{
  max-width: 15vw;
  max-height: 15vh;
}